<div class="all"> 
    <h2>Mrs</h2>
    <h3>{{name}} {{surname}}</h3>
     <app-show-date [dateToShow]="dateOfBirth" title="Date of birth:" format="yyyy-mm-dd"></app-show-date>

    <app-manage-interests [interestList]="interests" [selected]="selected" (selectInterestInParent)="selectInterest($event)"></app-manage-interests>
    @if (selected>-1) {
        
        <h2>Edit:</h2>
        <div>
            <label>interest:
                <input [(ngModel)]="interests[selected]" />
                <button (click)="Save()">Save</button>
                <button (click)="Cancel()">Cancel</button>
            </label>
        </div>
}
</div>


